body {
  margin: 0;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
header {
  background-color: rgba(0,0,0,0.92);
  width: 100%;
  height: 7%;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
}
.covid-ribbon-copy { 
  display: inline-block;
  line-height: 150%;
  padding: 5px 0;
  margin: 1% 10% 1% 10%; 
  font-size: 14px;
   text-align: center;
}

.covid-ribbon {
  background-color: #f5f5f7;
}


.unit-image {
  width: 1000px;
  height: 360px;
  background-image: url("./iphone_12_updated__jepm2xpxncuy_mediumtall_2x.jpeg");
  background-size: 100%;
  background-position: center -305;
  background-repeat: no-repeat;
}
.iphone-12 {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iphone-12Pro {
  padding-top: 6em;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  
}
div.iphone-12Pro {
  color: white;
}
.unit-image-pro {
  width: 1000px;
  height: 450px;
  background-image: url("./iphone_12_pro_us__e5oyysg4k0ya_large_2x.jpeg");
  background-size: 2000px;
  background-position: -500 -180;
  background-repeat: no-repeat;
}
.ipadpro {
  padding-top: 6em;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

div.ipadpro {
  color: white;
}
.unit-image-ipad {  
  width: 1000px;
  height: 450px;
  background-image: url("./hero_ipad_pro__gl982dtu49im_large_2x.jpeg");
  background-size: 2000px;
  background-position: -500 -160;
  background-repeat: no-repeat;
}

.doble-cajas{
  display: flex;
  flex-direction: row;
  
}
.doble-cajas {
  margin: 10px 10px 10px 10px;
}
.iMac {
 display: flex;
 flex-direction: column;
  text-align: center;
  width: 1262px;
  height: 580px;
  background-image: url("./promo_imac__crg641tip4q6_large_2x.jpeg");
  background-repeat: no-repeat;
  background-size: 1262px 580px;
  background-position: center;
  margin-right: 7.5px;
}

.iwatch {
  color: white;
  display: flex;
 flex-direction: column;
  text-align: center;
  width: 1262px;
  height: 580px;
  background-image: url("./promo_watch_series_6_lte__f8lrasjnry2y_large.jpeg");
  background-repeat: no-repeat;
  background-size: 1262px 580px;
  background-position: center;
  margin-left: 7.5px;
}
  
.WWDC21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1262px;
  height: 580px;
  background-image: url("./promo_wwdc21__p6pprzl4sjey_large_2x.jpeg");
  background-repeat: no-repeat;
  background-size: 1262px 580px;
  background-position: center;
  color: white;
  text-align: center;
  margin-right: 7.5px;
}
.WWDC21 h2 {
  text-shadow: 2px 2px violet;
}
.TV4K {
  display: flex;
 flex-direction: column;
  text-align: center;
  width: 1262px;
  height: 580px;
  background-image: url("./promo_tile_tv4k__cbz6fpnn6kz6_large_2x.jpeg");
  background-repeat: no-repeat;
  background-size: 1262px 580px;
  background-position: center;
  margin-left: 7.5px;
}
.Music {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1262px;
  height: 580px;
  background-image: url("./promo_spatial_audio__deu7d4c77yc2_large_2x.jpeg");
  background-repeat: no-repeat;
  background-size: 1262px 580px;
  background-position: center;
  color: white;
  margin-right: 7.5px;
}
.Themorningshow {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1262px;
  height: 580px;
  background-image: url("./promo_morning_show__yubzhh5l602u_large_2x.jpeg");
  background-repeat: no-repeat;
  background-size: 1262px 580px;
  background-position: center;
  color: white;
  margin-left: 7.5px;
}
@media (max-width: 735px) { 
  .unit-image {
  width: 1000px;
  height: 450px;
  background-color: white;
  background-image: url("./iphone_12.jpeg");
  background-position: center -350;
}
}